@model RequestSupportApp.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

@{
    DateTime thisDay = DateTime.Now;
}

<h1>Create a Ticket</h1>
<h3>- @ViewBag.dep -</h3>


<hr />
<!--Form that allows user to fill in the required details for creating a new ticket-->
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--Project name-->
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" id="ProjectName" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>

                <!-- Department name -->
                <div class="form-group">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input style="background-color: #f2f2f2;" asp-for="DepartmentName" value="@ViewBag.dep" class="form-control" readonly />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>

                <!--Employee name-->
                <!-- Following div element iterates through employee list and only displays employees who are in the selected department-->
                <div class="form-group">
                    <label for="EmployeeName" class="control-label">Requested By:</label>
                    <select name="EmployeeName" class="form-control" id="EmployeeName">
                        @foreach (var user in ViewBag.employeeList)
                        {
                            if (@user.EmployeeDepartment.Equals(ViewBag.dep))
                            {
                            <option value="@user.EmployeeName">@user.EmployeeName</option>
                            }
                        }
                    </select>
                </div>

                <!--Project Description-->
                <div class="form-group">
                    <label asp-for="ProjectDesc" class="control-label"></label>
                    <textarea rows="5" cols="30" asp-for="ProjectDesc" class="form-control"></textarea>
                    <span asp-validation-for="ProjectDesc" class="text-danger"></span>
                </div>

                <!--Ticket Date and Time-->
                <div class="form-group">
                    <label asp-for="TicketDate" class="control-label"></label>
                    <input style="background-color: #f2f2f2;" asp-for="TicketDate" value="@thisDay.ToString("g")" class="form-control" readonly />
                    <span asp-validation-for="TicketDate" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="DepSelect">Change Department</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

</script>
}
