@model IEnumerable<RequestSupportApp.Models.Ticket>

    <style>
        #filterButton {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
    </style>
<h1>Tickets</h1>
    <hr />
    <div id="filterList" style="display: none">
        <h4>Search/Filter Options</h4>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ShowSearchResults">

                    <div class="form-group">
                        <label for="ProjName" class="control-label">Project Name:</label>
                        <select name="ProjName" class="form-control">
                            @{
                                <option value="">
                                    Any
                                </option>
                                List<string> pNameList = new List<string>();
                                foreach (var ticket in ViewBag.ticketList)
                                {
                                    if (!pNameList.Contains(ticket.ProjectName))
                                    {
                                        pNameList.Add(ticket.ProjectName);
                                        <option value="@ticket.ProjectName">
                                            @ticket.ProjectName
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="DepName" class="control-label">Department:</label>
                        <select name="DepName" class="form-control">
                            @{
                                <option value="">
                                    Any
                                </option>
                                List<string> depList = new List<string>();
                                foreach (var user in ViewBag.employeeList)
                                {
                                    if (!depList.Contains(user.EmployeeDepartment))
                                    {
                                        depList.Add(user.EmployeeDepartment);
                                        <option value="@user.EmployeeDepartment">
                                            @user.EmployeeDepartment
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="EmpName" class="control-label">Employee Name</label>
                        <select name="EmpName" class="form-control">
                            @{
                                <option value="">
                                    Any
                                </option>
                                List<string> eNameList = new List<string>();
                                foreach (var emp in ViewBag.employeeList)
                                {
                                    if (!eNameList.Contains(emp.EmployeeName))
                                    {
                                        eNameList.Add(emp.EmployeeName);
                                        <option value="@emp.EmployeeName">
                                            @emp.EmployeeName
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="SearchPhrase" class="control-label">Description Keywords:</label>
                        <input name="SearchPhrase" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="DateTime" class="control-label">Date and Time:</label>
                        <select name="DateTime" class="form-control">
                            @{
                                <option value="">
                                    Any
                                </option>
                                List<string> dList = new List<string>();
                                foreach (var ticket in ViewBag.ticketList)
                                {
                                    if (!dList.Contains(ticket.TicketDate))
                                    {
                                        dList.Add(ticket.TicketDate);
                                        <option value="@ticket.TicketDate">
                                            @ticket.TicketDate
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>



                    <div class="form-group">
                        <input style="padding-left:30px; padding-right:30px" type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <input onclick="displayFilters(); buttonChange()" type="button" value="View Filters" id="filterButton"></input>

    <h3>All Tickets</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript">
            function displayFilters() {
                var x = document.getElementById("filterList");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            function buttonChange() {
                var elem = document.getElementById("filterButton");
                if (elem.value == "View Filters") elem.value = "Hide Filters";
                else if (elem.value == "Hide Filters") elem.value = "View Filters";
            }
        </script>
    }
